# Ignore directories
__pycache__/
autres/
env/
controller/__pycache__/
model/__pycache__/
view/__pycache__/
.coverage
alembic.ini
alembic/
.env
env
.pytest_cache
profiles/migrations/__pycache__
lettings/migrations/__pycache__


# all .py files
!.py
!profiles/migrations/
!lettings/migrations/